<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Vitis - Admin Products</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="admin-css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/animation.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="admin-css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="admin-css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="stylesheet" href="admin-font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="admin-icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/max-logo.png">
    <link rel="apple-touch-icon-precomposed" href="/images/max-logo.png">

</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/dashboard" id="site-logo-inner">
                            <img style="width:60px;" id="logo_header" alt="logo" src="/images/max-logo.png"
                                data-light="/images/max-logo.png" data-dark="/images/max-logo.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <ul class="">
                                    <li class="menu-item">
                                        <a href="/dashboard" class="">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.2652 3.57566C12.1187 3.42921 11.8813 3.42921 11.7348 3.57566L5.25 10.0605V19.8748C5.25 20.0819 5.41789 20.2498 5.625 20.2498H9V16.1248C9 15.0893 9.83947 14.2498 10.875 14.2498H13.125C14.1605 14.2498 15 15.0893 15 16.1248V20.2498H18.375C18.5821 20.2498 18.75 20.0819 18.75 19.8748V10.0605L12.2652 3.57566ZM20.25 11.5605L21.2197 12.5302C21.5126 12.8231 21.9874 12.8231 22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L13.3258 2.51499C12.5936 1.78276 11.4064 1.78276 10.6742 2.515L1.71967 11.4695C1.42678 11.7624 1.42678 12.2373 1.71967 12.5302C2.01256 12.8231 2.48744 12.8231 2.78033 12.5302L3.75 11.5605V19.8748C3.75 20.9104 4.58947 21.7498 5.625 21.7498H18.375C19.4105 21.7498 20.25 20.9104 20.25 19.8748V11.5605ZM13.5 20.2498H10.5V16.1248C10.5 15.9177 10.6679 15.7498 10.875 15.7498H13.125C13.3321 15.7498 13.5 15.9177 13.5 16.1248V20.2498Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Admin Dashboard</div>
                                        </a>
                                    </li>
                                    <li class="menu-item has-children active">
                                        <a href="javascript:void(0);" class="menu-item-button">
                                            <div class="icon"><i class="icon-file-plus"></i></div>
                                            <div class="text">Product Management</div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item active">
                                                <a href="/admin-products-list" class="">
                                                    <div class="text">All Products</div>
                                                </a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="/admin-add-product" class="">
                                                    <div class="text">Add Product</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children">
                                        <a href="javascript:void(0);" class="menu-item-button">
                                            <div class="icon"><i class="icon-layers"></i></div>
                                            <div class="text">Order Management</div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="/admin-orders" class="">
                                                    <div class="text">Order list</div>
                                                </a>
                                            </li>
                                          
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin-banners" class="menu-item-button">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 22 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0.5 1.875C0.5 0.839466 1.33947 0 2.375 0H19.625C20.6605 0 21.5 0.839466 21.5 1.875V3.375C21.5 4.29657 20.8351 5.06285 19.9589 5.22035L19.3733 15.1762C19.28 16.7619 17.9669 18 16.3785 18H5.62154C4.03311 18 2.71999 16.7619 2.62671 15.1762L2.04108 5.22035C1.16485 5.06285 0.5 4.29657 0.5 3.375V1.875ZM2.75659 3.75C2.75266 3.74997 2.74873 3.74997 2.74479 3.75H2.375C2.16789 3.75 2 3.58211 2 3.375V1.875C2 1.66789 2.16789 1.5 2.375 1.5H19.625C19.8321 1.5 20 1.66789 20 1.875V3.375C20 3.58211 19.8321 3.75 19.625 3.75H19.2552C19.2513 3.74997 19.2473 3.74997 19.2434 3.75H2.75659ZM3.54541 5.25L4.12412 15.0881C4.17076 15.8809 4.82732 16.5 5.62154 16.5H16.3785C17.1727 16.5 17.8292 15.8809 17.8759 15.0881L18.4546 5.25H3.54541ZM8.24976 8.25C8.24976 7.83579 8.58554 7.5 8.99976 7.5H12.9998C13.414 7.5 13.7498 7.83579 13.7498 8.25C13.7498 8.66421 13.414 9 12.9998 9H8.99976C8.58554 9 8.24976 8.66421 8.24976 8.25Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Banner Management</div>
                                        </a>
                                     
                                    </li>
                                 
                                    <li class="menu-item has-children">
                                        <a href="javascript:void(0);" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-users"></i></div>
                                            <div class="text">User Management</div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="/admin-users" class="">
                                                    <div class="text">Users list</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children">
                                        <a href="javascript:void(0);" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Testimonials Management</div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="/admin-testimonial" class="">
                                                    <div class="text">Testimonials list</div>
                                                </a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="/admin-add-testimonials" class="">
                                                    <div class="text">New Testimonial</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children">
                                        <a href="javascript:void(0);" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Blogs Management</div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="/admin-blogs" class="">
                                                    <div class="text">Blogs list</div>
                                                </a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="/admin-add-blogs" class="">
                                                    <div class="text">New Blog</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/logout" class="">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.125 18.6875C8.125 18.903 8.0394 19.1097 7.88702 19.262C7.73465 19.4144 7.52799 19.5 7.3125 19.5H1.625C1.19402 19.5 0.780698 19.3288 0.475951 19.024C0.171205 18.7193 0 18.306 0 17.875V1.625C0 1.19402 0.171205 0.780698 0.475951 0.475951C0.780698 0.171205 1.19402 0 1.625 0H7.3125C7.52799 0 7.73465 0.0856026 7.88702 0.237976C8.0394 0.390349 8.125 0.597012 8.125 0.8125C8.125 1.02799 8.0394 1.23465 7.88702 1.38702C7.73465 1.5394 7.52799 1.625 7.3125 1.625H1.625V17.875H7.3125C7.52799 17.875 7.73465 17.9606 7.88702 18.113C8.0394 18.2653 8.125 18.472 8.125 18.6875ZM19.2623 9.17516L15.1998 5.11266C15.0474 4.9602 14.8406 4.87455 14.625 4.87455C14.4094 4.87455 14.2026 4.9602 14.0502 5.11266C13.8977 5.26511 13.812 5.47189 13.812 5.6875C13.812 5.90311 13.8977 6.10989 14.0502 6.26234L16.7263 8.9375H7.3125C7.09701 8.9375 6.89035 9.0231 6.73798 9.17548C6.5856 9.32785 6.5 9.53451 6.5 9.75C6.5 9.96549 6.5856 10.1722 6.73798 10.3245C6.89035 10.4769 7.09701 10.5625 7.3125 10.5625H16.7263L14.0502 13.2377C13.8977 13.3901 13.812 13.5969 13.812 13.8125C13.812 14.0281 13.8977 14.2349 14.0502 14.3873C14.2026 14.5398 14.4094 14.6255 14.625 14.6255C14.8406 14.6255 15.0474 14.5398 15.1998 14.3873L19.2623 10.3248C19.3379 10.2494 19.3978 10.1598 19.4387 10.0611C19.4796 9.9625 19.5006 9.85678 19.5006 9.75C19.5006 9.64322 19.4796 9.5375 19.4387 9.43886C19.3978 9.34023 19.3379 9.25062 19.2623 9.17516Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Log out</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="/dashboard">
                                    <img style="width: 50px;" id="logo_header_mobile" alt="" src="/images/max-logo.png"
                                        data-light="img/logo.png" data-dark="img/logo.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-chevron-left"></i>
                                </div>

                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>


                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="admin-images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-text text-main-dark">Vitis</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">

                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <div class="main-content-inner">
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-30">
                                    <h3>Manage Products</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="/dashboard">
                                                <div class="text-tiny">Dashboard</div>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">Products</div>
                                        </li>
                                    </ul>
                                </div>
                    
                                <div class="wg-box">
                                    <div class="title-box">
                                        <i class="icon-coffee"></i>
                                        <div class="body-text">Tip search by Product ID: Each product is provided with a unique ID, which you can rely on to find the exact product you need.</div>
                                    </div>
                                    <div class="flex items-center justify-between gap10 flex-wrap">
                                        <div class="wg-filter flex-grow">
                                            <div class="show">
                                                <div class="text-tiny">Showing</div>
                                                <div class="select">
                                                    <select onchange="updateLimit(this)">
                                                        <option value="10" <%=limit==10 ? 'selected' : '' %>>10</option>
                                                        <option value="20" <%=limit==20 ? 'selected' : '' %>>20</option>
                                                        <option value="30" <%=limit==30 ? 'selected' : '' %>>30</option>
                                                    </select>
                                                </div>
                                                <div class="text-tiny">entries</div>
                                            </div>
                                            <form class="form-search" method="get" action="/admin-products-list">
                                                <fieldset class="name">
                                                    <input type="text" placeholder="Search by products or category names..." name="search" value="<%= searchQuery %>" />
                                                </fieldset>
                                                <div class="button-submit">
                                                    <button><i class="icon-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                        <a class="tf-button style-1 w208" href="/admin-add-product"><i class="icon-plus"></i>Add new</a>
                                    </div>
                    
                                    <div class="wg-table table-product-list">
                                        <ul class="table-title flex gap20 mb-14">
                                            <li style="width: 15%">
                                                <div class="body-title">Product</div>
                                            </li>
                                            <li style="width: 10%">
                                                <div class="body-title">ID</div>
                                            </li>
                                            <li style="width: 10%">
                                                <div class="body-title">Category</div>
                                            </li>
                                            <li style="width: 10%">
                                                <div class="body-title">Colors</div>
                                            </li>
                                            <li style="width: 10%">
                                                <div class="body-title">Measurements</div>
                                            </li>
                                            <li style="width: 8%">
                                                <div class="body-title">Price</div>
                                            </li>
                                            <li style="width: 8%">
                                                <div class="body-title">Offer</div>
                                            </li>
                                            <li style="width: 8%">
                                                <div class="body-title">Stock</div>
                                            </li>
                                            <li style="width: 11%">
                                                <div class="body-title">Description</div>
                                            </li>
                                            <li style="width: 10%">
                                                <div class="body-title">Actions</div>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-column">
                                            <% products.forEach(product => { %>
                                                <li class="wg-product item-row gap20" id="product-row-<%= product._id %>">
                                                    <!-- Product Image and Title -->
                                                    <div class="name" style="width: 15%">
                                                        <% if (product.images && product.images.length > 0) { %>
                                                            <div class="image">
                                                                <img src="<%= product.images[0] %>" alt="Product Image">
                                                            </div>
                                                        <% } %>
                                                        <div class="title line-clamp-2 mb-0">
                                                            <a href="#" class="body-text">
                                                                <%= product.title %>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- Product ID -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 10%">
                                                        <%= product._id.toString().substring(18, 24) %>
                                                    </div>
                                                    
                                                    <!-- Category -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 10%">
                                                        <%= product.category %>
                                                    </div>
                                                    
                                                    <!-- Color Variants -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 10%">
                                                        <% if (product.colorVariants && product.colorVariants.length > 0) { %>
                                                            <div class="color-chips">
                                                                <% product.colorVariants.slice(0, 3).forEach((variant, cidx) => { %>
                                                                    <span class="color-chip" 
                                                                        style="background-color: <%= variant.colorCode || '#ccc' %>; cursor:pointer;"
                                                                        title="<%= variant.colorName %>"
                                                                        onclick="updatePriceAndStockByColor('<%= product._id %>', <%= cidx %>)"></span>
                                                                <% }) %>
                                                                <% if (product.colorVariants.length > 3) { %>
                                                                    <span class="more-colors">+<%= product.colorVariants.length - 3 %></span>
                                                                <% } %>
                                                            </div>
                                                        <% } else { %>
                                                            <span>No colors</span>
                                                        <% } %>
                                                    </div>
                                                    
                                                    <!-- Measurements -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 10%">
                                                        <% if (product.measurements && product.measurements.length > 0) { %>
                                                            <select onchange="updatePriceAndStockByMeasurement(this, '<%= product._id %>')">
                                                                <% product.measurements.forEach((measurement, index) => { %>
                                                                    <option value="<%= index %>">
                                                                        <%= measurement.measurement %>
                                                                    </option>
                                                                <% }) %>
                                                            </select>
                                                        <% } else { %>
                                                            <span>Standard</span>
                                                        <% } %>
                                                    </div>
                                                    
                                                    <!-- Price -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 8%" id="price-<%= product._id %>">
                                                        ₹<%= typeof product.basePrice === 'number' && !isNaN(product.basePrice) ? product.basePrice : 'N/A' %>
                                                    </div>
                                                    
                                                    <!-- Offer Price -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 8%" id="offerPrice-<%= product._id %>">
                                                        <% if (typeof product.baseOfferPrice === 'number' && !isNaN(product.baseOfferPrice) && product.baseOfferPrice > 0) { %>
                                                            ₹<%= product.baseOfferPrice %>
                                                        <% } else { %>
                                                            <span>-</span>
                                                        <% } %>
                                                    </div>
                                                    
                                                    <!-- Stock -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 8%" id="stock-<%= product._id %>">
                                                        <%= typeof product.baseStocks === 'number' && !isNaN(product.baseStocks) ? product.baseStocks : 'N/A' %>
                                                    </div>
                                                    
                                                    <!-- Description -->
                                                    <div class="body-text text-main-dark mt-4" style="width: 11%">
                                                        <% if (product.productDescription && product.productDescription.length > 0) { %>
                                                            <div class="line-clamp-2" title="<%= product.productDescription.map(p => p.point).join(', ') %>">
                                                                <%= product.productDescription[0].point.substring(0, 20) %>...
                                                            </div>
                                                        <% } else { %>
                                                            <span>No description</span>
                                                        <% } %>
                                                    </div>
                                                    
                                                    <!-- Actions -->
                                                    <div class="list-icon-function" style="width: 10%"> 
                                                        <a href="/admin-edit-products/<%= product._id %>" class="item edit" title="Edit">
                                                            <i class="icon-edit-3"></i>
                                                        </a>
                                                        <div class="item trash" title="Delete" onclick="deleteProduct('<%= product._id %>')">
                                                            <i class="icon-trash-2"></i>
                                                        </div>
                                                        <div class="item toggle" title="Toggle Status" onclick="toggleProduct('<%= product._id %>')">
                                                            <i class="fa fa-toggle-<%= product.toggled ? 'on' : 'off' %>"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                              
                                    <div class="divider"></div>
                                    <div class="flex items-center justify-between flex-wrap gap10">
                                        <div class="text-tiny">Showing <%= products.length %> of <%= totalProducts %> entries</div>
                                        <ul class="wg-pagination">
                                            <% if (page > 1) { %>
                                                <li>
                                                    <a href="/admin-products-list?page=<%= page-1 %>&limit=<%= limit %>&search=<%= searchQuery %>">
                                                        &laquo;
                                                    </a>
                                                </li>
                                            <% } %>
                                            
                                            <% for (let i = Math.max(1, page-2); i <= Math.min(totalPages, page+2); i++) { %>
                                                <li class="<%= page == i ? 'active' : '' %>">
                                                    <a href="/admin-products-list?page=<%= i %>&limit=<%= limit %>&search=<%= searchQuery %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                            <% } %>
                                            
                                            <% if (page < totalPages) { %>
                                                <li>
                                                    <a href="/admin-products-list?page=<%= page+1 %>&limit=<%= limit %>&search=<%= searchQuery %>">
                                                        &raquo;
                                                    </a>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                    
                    
                                <script>
                                    function updateLimit(select) {
                                        const url = new URL(window.location.href);
                                        url.searchParams.set('limit', select.value);
                                        window.location.href = url.toString();
                                    }
                    
                                    function deleteProduct(productId) {
                                        if (confirm('Are you sure you want to delete this product?')) {
                                            fetch(`/products/delete/${productId}`, {
                                                method: 'DELETE',
                                            })
                                                .then((res) => res.json())
                                                .then((data) => {
                                                    if (data.success) {
                                                        alert('Product deleted successfully!');
                                                        document.getElementById(`product-row-${productId}`).remove();
                                                    } else {
                                                        alert(data.message || 'Error deleting product');
                                                    }
                                                })
                                                .catch((err) => {
                                                    console.error('Error deleting product:', err);
                                                    alert('Error deleting product');
                                                });
                                        }
                                    }
                    
                                    function toggleProduct(productId) {
                                        fetch(`/products/toggle/${productId}`, {
                                            method: 'PUT',
                                        })
                                            .then((res) => res.json())
                                            .then((data) => {
                                                if (data.success) {
                                                    const toggleIcon = document.querySelector(`#product-row-${productId} .toggle i`);
                                                    if (toggleIcon) {
                                                        toggleIcon.classList.toggle('fa-toggle-on');
                                                        toggleIcon.classList.toggle('fa-toggle-off');
                                                    }
                                                } else {
                                                    alert(data.message || 'Error toggling product');
                                                }
                                            })
                                            .catch((err) => {
                                                console.error('Error toggling product:', err);
                                                alert('Error toggling product');
                                            });
                                    }

                                    // Store products data for JS access
                                    const productsData = <%- JSON.stringify(products) %>;

                                    // Helper: Reset to base price/offer/stock
                                    function resetToBase(productId) {
                                        const product = productsData.find(p => p._id === productId);
                                        if (!product) return;
                                        document.getElementById(`price-${productId}`).innerText = typeof product.basePrice === 'number' && !isNaN(product.basePrice) ? `₹${product.basePrice}` : 'N/A';
                                        document.getElementById(`offerPrice-${productId}`).innerHTML = (typeof product.baseOfferPrice === 'number' && !isNaN(product.baseOfferPrice) && product.baseOfferPrice > 0) ? `₹${product.baseOfferPrice}` : '<span>-</span>';
                                        document.getElementById(`stock-${productId}`).innerText = typeof product.baseStocks === 'number' && !isNaN(product.baseStocks) ? product.baseStocks : 'N/A';
                                    }

                                    // When a measurement is selected
                                    function updatePriceAndStockByMeasurement(select, productId) {
                                        const selectedIndex = parseInt(select.value, 10);
                                        const product = productsData.find(p => p._id === productId);
                                        if (!product) return;
                                        if (product.measurements && product.measurements.length > selectedIndex) {
                                            const measurement = product.measurements[selectedIndex];
                                            document.getElementById(`price-${productId}`).innerText = typeof measurement.price === 'number' && !isNaN(measurement.price) ? `₹${measurement.price}` : 'N/A';
                                            document.getElementById(`offerPrice-${productId}`).innerHTML = (typeof measurement.offerPrice === 'number' && !isNaN(measurement.offerPrice) && measurement.offerPrice > 0) ? `₹${measurement.offerPrice}` : '<span>-</span>';
                                            document.getElementById(`stock-${productId}`).innerText = typeof measurement.stocks === 'number' && !isNaN(measurement.stocks) ? measurement.stocks : 'N/A';
                                        } else {
                                            resetToBase(productId);
                                        }
                                    }

                                    // When a color chip is clicked
                                    function updatePriceAndStockByColor(productId, colorIndex) {
                                        const product = productsData.find(p => p._id === productId);
                                        if (!product) return;
                                        if (product.colorVariants && product.colorVariants.length > colorIndex) {
                                            const variant = product.colorVariants[colorIndex];
                                            document.getElementById(`price-${productId}`).innerText = typeof variant.price === 'number' && !isNaN(variant.price) ? `₹${variant.price}` : 'N/A';
                                            document.getElementById(`offerPrice-${productId}`).innerHTML = (typeof variant.offerPrice === 'number' && !isNaN(variant.offerPrice) && variant.offerPrice > 0) ? `₹${variant.offerPrice}` : '<span>-</span>';
                                            document.getElementById(`stock-${productId}`).innerText = typeof variant.stocks === 'number' && !isNaN(variant.stocks) ? variant.stocks : 'N/A';
                                        } else {
                                            resetToBase(productId);
                                        }
                                        // Also reset measurement select to default if present
                                        const row = document.getElementById(`product-row-${productId}`);
                                        if (row) {
                                            const select = row.querySelector('select');
                                            if (select) select.selectedIndex = -1;
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        
                        <div class="bottom-page">
                            <div class="body-text">Copyright © 2025 <a href="https://trivlogic.com">Trivlogic</a>. Design by Trivlogic All rights reserved</div>
                        </div>
                    </div>
                    <!-- /bottom-page -->
                </div>
                <!-- /main-content -->
            </div>
            <!-- /section-content-right -->
        </div>
        <!-- /layout-wrap -->
    </div>
    <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <script>
        function updateLimit(select) {
            const limit = select.value;
            const url = new URL(window.location);
            url.searchParams.set('limit', limit);
            window.location.href = url.toString();
        }
    </script>
    <!-- Javascript -->
    <script src="admin-js/jquery.min.js"></script>
    <script src="admin-js/bootstrap.min.js"></script>
    <script src="admin-js/bootstrap-select.min.js"></script>
    <script src="admin-js/zoom.js"></script>
    <script src="admin-js/switcher.js"></script>
    <script defer src="admin-js/theme-settings.js"></script>
    <script defer src="admin-js/main.js"></script>

</body>

</html>