<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vitis - Blog details</title>
    <meta name="robots" content="noindex, follow" />
    <title><%= blog.metatitle %></title>
    <meta name="description" content="<%= blog.metadescription %>">
    <meta name="viewport" content="width=device-width, initial-/scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-3) -->
    <header class="ltn__header-area ltn__header-3 section-bg-6---">   
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area border-bottom top-area-color-white---">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 top-header">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="mailto:vitisenterprises@gmail.com"><i class="icon-mail"></i>vitisenterprises@gmail.com</a></li>
                                <li><a href="#0"><i class="icon-placeholder"></i> Vitis Enterprises Kerala-689695</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-end">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                   
                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                
                                                <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->     
        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo">
                            <a href="/"><img class="logo-image" src="/img/logo.png" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col header-contact-serarch-column d-none d-xl-block">
                        <div class="header-contact-search">
                            <!-- header-feature-item -->
                            <div class="header-feature-item d-none">
                                <div class="header-feature-icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="header-feature-info">
                                    <h6>Phone</h6>
                                    <p><a href="tel:+917736921309">+91 7736921309</a></p>
                                </div>
                            </div>
                            <!-- header-search-2 -->
                            <div class="header-search-2">
                                <form id="#123" method="get"  action="#">
                                    <input type="text" name="search" value="" placeholder="Search here..."/>
                                    <button type="submit">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- header-options -->
                        <div class="ltn__header-options">
                            <ul>
                               
                                <li class="d-none--- ">
                                    <!-- header-search-1 -->
                                    <div class="header-search-wrap d-block d-xl-none">
                                        <div class="header-search-1">
                                            <div class="search-icon">
                                                <i class="icon-search  for-search-show"></i>
                                                <i class="icon-cancel  for-search-close"></i>
                                            </div>
                                        </div>
                                        <div class="header-search-1-form">
                                            <form id="#" method="get"  action="#">
                                                <input type="text" name="search" value="" placeholder="Search here..."/>
                                                <button type="submit">
                                                    <span><i class="icon-search"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-none---"> 
                                    <!-- user-menu -->
                                    <div class="ltn__drop-menu user-menu">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon-user"></i></a>
                                                <ul>
                                                    <li><a href="/user-login">Sign in</a></li>
                                                    <li><a href="/user-register">Register</a></li> 
                                                    <li><a href="/orders">Wishlist</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <!-- mini-cart 2 -->
                                    <div class="mini-cart-icon mini-cart-icon-2">
                                        <a href="/cart" >
                                            <span class="mini-cart-icon">
                                                <i class="icon-shopping-cart"></i>
                                            </span>
                                            <h6><span>Your Cart</span></h6>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->

        <!-- MOBILE MENU START -->
        <div class="mobile-header-menu-fullwidth mb-20 d-block d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-lg-none">
                            <span>MENU</span>
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewBox="0 0 800 600">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE MENU END -->
        
        <!-- header-bottom-area start -->
        <div class="header-bottom-area ltn__border-top--- ltn__header-sticky  ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none--- d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 align-self-center">
                        <!-- CATEGORY-MENU-LIST START -->
                        <div class="ltn__category-menu-wrap ltn__category-dropdown-hide ltn__category-menu-with-header-menu">
                            <div class="ltn__category-menu-title">
                                <h2 class="section-bg-1--- ltn__secondary-bg text-color-white">categories</h2>
                            </div>
                            <div class="ltn__category-menu-toggle ltn__one-line-active">
                                <ul>
                                    <li class="ltn__category-menu-item ltn__category-menu-drop">
                                        <a href="/shop?category=General&page=1"><i class="fa fa-hospital"></i> General</a>
                                    </li>
                               
                                    <li class="ltn__category-menu-item ltn__category-menu-drop">
                                        <a href="/shop?category=Healthcare&page=1"><i class="fa fa-notes-medical"></i> Health Care</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-7">
                        <div class="col--- header-menu-column justify-content-center---">
                            <div class="header-menu header-menu-2 text-center">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li><a href="/">Home</a>      
                                            </li>
                                            <li><a href="/shop">Shop</a>
                                            </li>
                                            <li><a href="/about">About</a> 
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 align-self-center d-none d-xl-block">
                        <div class="header-contact-info text-end">
                            <a class="font-weight-6 ltn__primary-color" href="tel:+917736921309"><span class="ltn__secondary-color"><i class="icon-call font-weight-7"></i></span> +91 7736921309</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area end -->
    </header>
    <!-- HEADER AREA END -->

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="/"><img src="/img/logo.png" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
          
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/shop">Shop</a>
                    </li>
                    <li><a href="/about">About</a>
                    </li>
                    <li><a href="/blogs">Blogs</a>
                    </li>   
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="/cart" title="My Cart">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
                            My Cart
                        </a>
                    </li>
                    <li>
                        <a href="/orders" title="Orders">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                            </span>
                            Orders
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="/img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Blog Details</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Blog Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- PAGE DETAILS AREA START (blog-details) -->
    <div class="ltn__page-details-area ltn__blog-details-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__blog-details-wrap">
                        <div class="ltn__page-details-inner ltn__blog-details-inner">
                            <!-- Blog Image -->
                            <div class="ltn__blog-img mb-30">
                                <img src="/<%= blog.image ? blog.image : '/img/blog/default.jpg' %>" alt="<%= blog.title %>">
                            </div>
                            <!-- Blog Meta -->
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>By: <%= blog.author %></a>
                                    </li>
                                    <li class="ltn__blog-date">
                                        <i class="far fa-calendar-alt"></i>
                                        <%= blog.date ? blog.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : '' %>
                                    </li>
                                </ul>
                            </div>
                            <!-- Blog Title -->
                            <h2 class="ltn__blog-title"><%= blog.title %></h2>
                            <!-- Blog Description -->
                            <div class="ltn__blog-description">
                                <p><%= blog.description %></p>
                            </div>
                        </div>
                        <!-- blog-tags-social-media -->
                        <div class="ltn__blog-tags-social-media mt-80 row">
                            <div class="ltn__tagcloud-widget col-lg-8">
                                <h4>Title</h4>
                                <ul>
                                    <li>
                                        <span><%= blog.metatitle %></span>
                                    </li>
                                </ul>
                                <h4>Description</h4>
                                <ul>
                                    <li>
                                        <span><%= blog.metadescription %></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media text-right text-end col-lg-4">
                                <h4>Social Share</h4>
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <!-- You can add more dynamic sections here if needed -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar-area blog-sidebar ltn__right-sidebar">
                        <!-- You can add widgets here if needed, but removed unrelated static widgets -->
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE DETAILS AREA END -->

    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="/shop">Explore Products <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->

    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img style="width: 130px;" src="/img/logo.png" alt="Logo">
                                </div>
                            </div>
                            <p>Vitis provides customers with high-quality healthcare and general trading products,
                                offering competitive prices and value-packed combo deals.</p>


                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Links</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                    <li><a href="/contact">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Services</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/user-login">Login</a></li>
                                    <li><a href="/user-register">Register</a></li>
                                    <li><a href="/about">Terms & Conditions</a></li>
                                    <li><a href="/about">Privacy & policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Customer Care</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/cart">My cart</a></li>
                                    <li><a href="/orders">My orders</a></li>
                                    <li><a href="/contact">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                        <div class="footer-widget footer-newsletter-widget">
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Vitis Enterprises, Pathanapuram
                                                Kollam (District), Kerala-689695</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="mt-30">We Accept</h5>
                            <img src="/img/icons/payment-4.png" alt="Payment Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>
                                All Rights Reserved @ Vitis Enterprises <span class="current-year"></span> | Developed
                                by <a href="https://trivlogic.com/" target="_blank" rel="noopener">Trivlogic Pvt Ltd</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <div class="floating-buttons">
        <a href="mailto:vitisenterprises@gmail.com" class="email-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="4" width="18" height="16" rx="2" ry="2" />
                <path d="M3 6l9 6 9-6" />
            </svg>
        </a>
        <a href="https://wa.me/+917736921309" class="whatsapp-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M12 2C6.5 2 2 6.5 2 12c0 1.8 0.5 3.5 1.3 5L2 22l5.1-1.3c1.5 0.8 3.1 1.2 4.9 1.2 5.5 0 10-4.5 10-10S17.5 2 12 2z"
                    fill="none" stroke="currentColor" />
                <path
                    d="M17 15.5c-0.2 0.7-1.2 1.2-1.7 1.3-0.4 0.1-1 0.1-1.6-0.1-0.4-0.1-0.8-0.3-1.4-0.5-2.6-1.1-4.2-3.6-4.4-3.8-0.1-0.2-1-1.4-1-2.6 0-1.3 0.7-1.9 0.9-2.1 0.2-0.2 0.5-0.3 0.7-0.3 0.2 0 0.3 0 0.5 0 0.2 0 0.4-0.1 0.6 0.4 0.2 0.5 0.7 1.7 0.8 1.8 0.1 0.1 0.1 0.3 0 0.4-0.1 0.2-0.1 0.2-0.2 0.4-0.1 0.1-0.3 0.3-0.4 0.4-0.1 0.1-0.2 0.3-0.1 0.5 0.1 0.2 0.5 0.8 1.1 1.3 0.7 0.7 1.4 0.9 1.6 1 0.2 0.1 0.4 0.1 0.5-0.1 0.2-0.1 0.7-0.8 0.8-1 0.2-0.3 0.3-0.2 0.6-0.1 0.2 0.1 1.5 0.7 1.8 0.8 0.3 0.1 0.4 0.2 0.5 0.3 0.1 0.1 0.1 0.7-0.2 1.3z"
                    fill="currentColor" stroke="none" />
            </svg>

        </a>
        <a href="tel:+917736921309" class="phone-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M22 16.92V19a2 2 0 0 1-2 2 17.9 17.9 0 0 1-8-2 17.9 17.9 0 0 1-8-8 17.9 17.9 0 0 1-2-8A2 2 0 0 1 5 1h2.08a2 2 0 0 1 2 .72l2.83 3.42a2 2 0 0 1-.25 2.77L9.91 10.08a16 16 0 0 0 4 4l2.17-1.75a2 2 0 0 1 2.77-.25l3.42 2.83a2 2 0 0 1 .72 2z" />
            </svg>
        </a>
    </div>
    <!-- Mobile Bottom Navbar -->
    <nav class="mb_navbar_container">
        <a href="/" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </div>
            <span class="mb_navbar_label">Home</span>
        </a>

        <a href="/shop" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect x="2" y="3" width="20" height="18" rx="2" ry="2"></rect>
                    <line x1="2" y1="8" x2="22" y2="8"></line>
                    <line x1="12" y1="8" x2="12" y2="21"></line>
                    <line x1="7" y1="14.5" x2="7" y2="14.51"></line>
                    <line x1="17" y1="14.5" x2="17" y2="14.51"></line>
                </svg>
            </div>
            <span class="mb_navbar_label">Shop</span>
        </a>
        <a href="/cart" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>

            </div>
            <span class="mb_navbar_label">Cart</span>
        </a>
        <% if (user) { %>
            <a href="/orders" class="mb_navbar_item">
                <div class="mb_navbar_icon_wrapper">
                    <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2" />
                        <path d="M9 14h6" />
                        <path d="M6 10h12" />
                        <path d="M3 6h18" />
                    </svg>
                </div>
                <span class="mb_navbar_label">Orders</span>
            </a>     
            <% } else { %>
                <a href="/contact" class="mb_navbar_item">
                    <div class="mb_navbar_icon_wrapper">
                        <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M21 10.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4.5" />
                            <polyline points="17 8 21 12 17 16" />
                            <line x1="21" y1="12" x2="9" y2="12" />
                        </svg>
                    </div>
                    <span class="mb_navbar_label">Contact</span>
                </a>
                <% } %>



                    <% if (user) { %>
                        <a href="/api/auth/user-logout" class="mb_navbar_item">
                            <div class="mb_navbar_icon_wrapper">
                                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                            <span class="mb_navbar_label">Logout</span>
                        </a>
                        <% } else { %>
                            <a href="/user-login" class="mb_navbar_item">
                                <div class="mb_navbar_icon_wrapper">
                                    <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </div>
                                <span class="mb_navbar_label">Login</span>
                            </a>
                            <% } %>
    </nav>
</div>
<!-- Body main wrapper end -->

    <!-- All JS Plugins -->
    <script src="/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js"></script>
  
</body>
</html>

