<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vitis - Cart</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- Body main wrapper start -->
    <div class="body-wrapper">

        <!-- HEADER AREA START (header-3) -->
        <header class="ltn__header-area ltn__header-3 section-bg-6---">
            <!-- ltn__header-top-area start -->
            <div class="ltn__header-top-area border-bottom top-area-color-white---">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 top-header">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li><a href="mailto:vitisenterprises@gmail.com"><i
                                                class="icon-mail"></i>vitisenterprises@gmail.com</a></li>
                                    <li><a href="#0"><i class="icon-placeholder"></i> Vitis Enterprises
                                            Kerala-689695</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-bar-right text-end">
                                <div class="ltn__top-bar-menu">
                                    <ul>

                                        <li>
                                            <!-- ltn__social-media -->
                                            <div class="ltn__social-media">
                                                <ul>
                                                    <li><a href="#" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                                    </li>

                                                    <li><a href="#" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-top-area end -->
            <!-- ltn__header-middle-area start -->
            <div class="ltn__header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="site-logo">
                                <a href="/"><img class="logo-image" src="img/logo.png" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="col header-contact-serarch-column d-none d-xl-block">
                            <div class="header-contact-search">
                                <!-- header-feature-item -->
                                <div class="header-feature-item d-none">
                                    <div class="header-feature-icon">
                                        <i class="icon-phone"></i>
                                    </div>
                                    <div class="header-feature-info">
                                        <h6>Phone</h6>
                                        <p><a href="tel:+917736921309">+91 7736921309</a></p>
                                    </div>
                                </div>
                                <!-- header-search-2 -->
                                <div class="header-search-2">
                                    <form id="#123" method="get" action="#">
                                        <input type="text" name="search" value="" placeholder="Search here..." />
                                        <button type="submit">
                                            <span><i class="icon-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- header-options -->
                            <div class="ltn__header-options">
                                <ul>

                                    <li class="d-none--- ">
                                        <!-- header-search-1 -->
                                        <div class="header-search-wrap d-block d-xl-none">
                                            <div class="header-search-1">
                                                <div class="search-icon">
                                                    <i class="icon-search  for-search-show"></i>
                                                    <i class="icon-cancel  for-search-close"></i>
                                                </div>
                                            </div>
                                            <div class="header-search-1-form">
                                                <form id="#" method="get" action="#">
                                                    <input type="text" name="search" value=""
                                                        placeholder="Search here..." />
                                                    <button type="submit">
                                                        <span><i class="icon-search"></i></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-none---">
                                        <!-- user-menu -->
                                        <div class="ltn__drop-menu user-menu">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="icon-user"></i></a>
                                                    <% if (!isGuest) { %>
                                                        <ul>
                                                            <li><a href="/orders">Orders</a></li>
                                                            <li><a href="/cart">Cart</a></li>
                                                            <li><a href="/api/auth/user-logout">Logout</a></li>
                                                        </ul>
                                                        <% } else { %>
                                                            <ul>
                                                                <li><a href="/user-login">Sign in</a></li>
                                                                <li><a href="/user-register">Register</a></li>
                                                            </ul>
                                                            <% } %>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-cart-icon mini-cart-icon-2">
                                            <a href="/cart">
                                                <span class="mini-cart-icon">
                                                    <i class="icon-shopping-cart"></i>
                                                    <sup>
                                                        <% 
                                                            let cartCount = 0;
                                                            if (!isGuest) {
                                                                if (typeof cartItems !== 'undefined' && Array.isArray(cartItems)) {
                                                                    cartCount = cartItems.length;
                                                                }
                                                            } else {
                                                            
                                                        %>
                                                        <script>
                                                            (function() {
                                                                try {
                                                                    var guestCart = localStorage.getItem('guestCart');
                                                                    var count = 0;
                                                                    if (guestCart) {
                                                                        var items = JSON.parse(guestCart);
                                                                        if (Array.isArray(items)) {
                                                                            count = items.length;
                                                                        }
                                                                    }
                                                                    var sup = document.currentScript.parentElement;
                                                                    if (sup) sup.textContent = count;
                                                                } catch(e) {
                                                                    var sup = document.currentScript.parentElement;
                                                                    if (sup) sup.textContent = 0;
                                                                }
                                                            })();
                                                        </script>
                                                        <% } %>
                                                        <%= cartCount %>
                                                    </sup>
                                                </span>
                                                <h6><span>Your Cart</span></h6>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-middle-area end -->

            <!-- MOBILE MENU START -->
            <div class="mobile-header-menu-fullwidth mb-20 d-block d-lg-none">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Mobile Menu Button -->
                            <div class="mobile-menu-toggle d-lg-none">
                                <span>MENU</span>
                                <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                    <svg viewBox="0 0 800 600">
                                        <path
                                            d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                            id="top"></path>
                                        <path d="M300,320 L540,320" id="middle"></path>
                                        <path
                                            d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                            id="bottom"
                                            transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MOBILE MENU END -->

            <!-- header-bottom-area start -->
            <div
                class="header-bottom-area ltn__border-top--- ltn__header-sticky  ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none--- d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 align-self-center">
                            <!-- CATEGORY-MENU-LIST START -->
                            <div
                                class="ltn__category-menu-wrap ltn__category-dropdown-hide ltn__category-menu-with-header-menu">
                                <div class="ltn__category-menu-title">
                                    <h2 class="section-bg-1--- ltn__secondary-bg text-color-white">categories</h2>
                                </div>
                                <div class="ltn__category-menu-toggle ltn__one-line-active">
                                    <ul>
                                        <!-- Submenu Column - unlimited -->
                                        <li class="ltn__category-menu-item ltn__category-menu-drop">
                                            <a href="/shop"><i class="fa fa-hospital"></i> General</a>
                                        </li>
                                        <!-- Submenu Column - 4 -->
                                        <li class="ltn__category-menu-item ltn__category-menu-drop">
                                            <a href="/shop"><i class="fa fa-notes-medical"></i> Medical</a>

                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-7">
                            <div class="col--- header-menu-column justify-content-center---">
                                <div class="header-menu header-menu-2 text-center">
                                    <nav>
                                        <div class="ltn__main-menu">
                                            <ul>
                                                <li><a href="/">Home</a>
                                                </li>
                                                <li><a href="/shop">Shop</a>
                                                </li>
                                                <li><a href="/about">About</a>
                                                </li>
                                                <li><a href="/contact">Contact</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 align-self-center d-none d-xl-block">
                            <div class="header-contact-info text-end">
                                <a class="font-weight-6 ltn__primary-color" href="tel:+917736921309"><span
                                        class="ltn__secondary-color"><i class="icon-call font-weight-7"></i></span> +91
                                    7736921309</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-bottom-area end -->
        </header>
        <!-- HEADER AREA END -->

        <!-- Utilize Mobile Menu Start -->
        <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
            <div class="ltn__utilize-menu-inner ltn__scrollbar">
                <div class="ltn__utilize-menu-head">
                    <div class="site-logo">
                        <a href="/"><img src="img/logo.png" alt="Logo"></a>
                    </div>
                    <button class="ltn__utilize-close">×</button>
                </div>

                <div class="ltn__utilize-menu">
                    <ul>
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/shop">Shop</a>
                        </li>
                        <li><a href="/about">About</a>
                        </li>
                        <li><a href="/blogs">Blogs</a>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                    <ul>
                        <li>
                            <a href="/cart" title="My Cart">
                                <span class="utilize-btn-icon">
                                    <i class="far fa-user"></i>
                                </span>
                                My Cart
                            </a>
                        </li>
                        <li>
                            <a href="/orders" title="Orders">
                                <span class="utilize-btn-icon">
                                    <i class="far fa-heart"></i>
                                </span>
                                Orders
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ltn__social-media-2">
                    <ul>
                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Utilize Mobile Menu End -->

        <div class="ltn__utilize-overlay"></div>

        <!-- BREADCRUMB AREA START -->
        <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__breadcrumb-inner">
                            <h1 class="page-title">Cart</h1>
                            <div class="ltn__breadcrumb-list">
                                <ul>
                                    <li><a href="/"><span class="ltn__secondary-color"><i
                                                    class="fas fa-home"></i></span> Home</a></li>
                                    <li>Cart</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMB AREA END -->

        <!-- SHOPING CART AREA START -->
        <div class="liton__shoping-cart-area mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       
                        <%
                            // Helper for user cart empty
                            const isUserCartEmpty = !isGuest && (!cartItems || cartItems.length === 0);
                        %>
                        <div class="shoping-cart-inner">
                            <% if (isUserCartEmpty) { %>
                                <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px;">
                                    <dotlottie-player src="https://lottie.host/e5fa68be-530c-45b1-bfd5-50c63563944a/TFNxioemwK.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
                                    <h3 class="mt-3 mb-2 text-center">Your cart is empty</h3>
                                    <p class="mb-3 text-center">Looks like you haven't added anything to your cart yet.</p>
                                    <a href="/shop" class="btn theme-btn-1 px-4 py-2">Shop Now</a>
                                </div>
                            <% } else { %>
                                <div class="shoping-cart-table table-responsive">
                                    <table class="table">
                                        <tbody id="cart-items-tbody">
                                            <% if (!isGuest) { %>
                                                <% cartItems.forEach(item=> { %>
                                                    <tr data-item-id="<%= item._id %>">
                                                        <td class="cart-product-remove">
                                                            <button class="remove-item"
                                                                data-item-id="<%= item._id %>">×</button>
                                                        </td>
                                                        <td class="cart-product-image">
                                                            <a href="/product/<%= item.productId %>">
                                                                <img src="<%= item.image %>" alt="<%= item.title %>">
                                                            </a>
                                                        </td>
                                                        <td class="cart-product-info">
                                                            <h4><a href="/product/<%= item.productId %>">
                                                                    <%= item.title %>
                                                                </a></h4>
                                                            <% if (item.selectedColor && item.selectedColor.colorName || item.selectedMeasurement && item.selectedMeasurement.measurement) { %>
                                                                <% if (item.selectedColor && item.selectedColor.colorName) { %>
                                                                    <p>Color: <%= item.selectedColor.colorName %></p>
                                                                <% } %>
                                                                <% if (item.selectedMeasurement && item.selectedMeasurement.measurement) { %>
                                                                    <p>Size: <%= item.selectedMeasurement.measurement %></p>
                                                                <% } %>
                                                            <% } %>
                                                        </td>
                                                        <td class="cart-product-price">
                                                            <% if (item.offerPrice) { %>
                                                                <div class="product-price">
                                                                    <del>
                                                                        <span class="old-price">
                                                                            ₹<%= typeof item.price === 'number' ? item.price.toFixed(2) : (item.price || '0.00') %>
                                                                        </span>
                                                                    </del>
                                                                    <span class="new-price">
                                                                        ₹<%= typeof item.offerPrice === 'number' ? item.offerPrice.toFixed(2) : (item.offerPrice || '0.00') %>
                                                                    </span>
                                                                </div>
                                                            <% } else { %>
                                                                ₹<%= item.price.toFixed(2) %>
                                                            <% } %>
                                                        </td>
                                                        <td class="">
                                                            <div class="cart-qty-group d-flex align-items-center justify-content-center" style="gap: 4px;">
                                                                <button 
                                                                    type="button" 
                                                                    class="qty-btn btn btn-outline-secondary btn-sm px-2 py-1 decrease-qty-btn"
                                                                    aria-label="Decrease quantity"
                                                                    data-item-id="<%= item._id %>"
                                                                    style="width: 28px; height: 28px; border-radius: 4px; font-size: 1rem; font-weight: 500; line-height: 1;"
                                                                >-</button>
                                                                <input 
                                                                    type="number" 
                                                                    value="<%= item.quantity %>" 
                                                                    min="1"
                                                                    class="form-control text-center quantity-input"
                                                                    data-item-id="<%= item._id %>"
                                                                    id="qty-<%= item._id %>"
                                                                    style="width: 38px; height: 28px; border-radius: 4px; border: 1px solid #ced4da; font-size: 1rem; padding: 0 4px;"
                                                                >
                                                                <button 
                                                                    type="button" 
                                                                    class="qty-btn btn btn-outline-secondary btn-sm px-2 py-1 increase-qty-btn"
                                                                    aria-label="Increase quantity"
                                                                    data-item-id="<%= item._id %>"
                                                                    style="width: 28px; height: 28px; border-radius: 4px; font-size: 1rem; font-weight: 500; line-height: 1;"
                                                                >+</button>
                                                            </div>
                                                        </td>
                                                        <td class="cart-product-subtotal">₹<%= item.subtotal.toFixed(2) %>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="shoping-cart-total mt-50">
                                    <h4>Cart Totals</h4>
                                    <table class="table">
                                        <tbody id="cart-totals-tbody">
                                            <% if (!isGuest) { %>
                                                <tr>
                                                    <td>Cart Total</td>
                                                    <td>₹<%= subtotal.toFixed(2) %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (isGuest) { %>
                                        <div class="btn-wrapper text-right">
                                            <a href="/user-login" class="theme-btn-1 btn btn-effect-1">Login to checkout</a>
                                        </div>
                                    <% } else { %>
                                        <div class="btn-wrapper text-right">
                                            <a href="/checkout" class="theme-btn-1 btn btn-effect-1">Proceed to checkout</a>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                        <script>
                            const updateGuestCart = (updatedCart) => {
                                localStorage.setItem('guestCart', JSON.stringify(updatedCart));
                            };

                            function calculateGuestCartTotals(cart) {
                                let subtotal = 0;
                                cart.forEach(item => {
                                    const price = item.offerPrice ?? item.price;
                                    subtotal += price * item.quantity;
                                });
                                // No shipping, no vat, total = subtotal
                                const total = subtotal;
                                return { subtotal, total };
                            }

                            <% if (isGuest) { %>
                                // Render guest cart items and totals (UI same as user cart)
                                function renderGuestCart() {
                                    const guestCart = JSON.parse(localStorage.getItem('guestCart')) || [];
                                    const tbody = document.getElementById('cart-items-tbody');
                                    const totalsTbody = document.getElementById('cart-totals-tbody');
                                    const cartInner = document.querySelector('.shoping-cart-inner');

                                    // If cart is empty, show empty state
                                    if (guestCart.length === 0) {
                                        if (cartInner) {
                                            cartInner.innerHTML = `
                                                <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px;">
                                                    <dotlottie-player src="https://lottie.host/e5fa68be-530c-45b1-bfd5-50c63563944a/TFNxioemwK.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
                                                    <h3 class="mt-3 mb-2 text-center">Your cart is empty</h3>
                                                    <p class="mb-3 text-center">Looks like you haven't added anything to your cart yet.</p>
                                                    <a href="/shop" class="btn theme-btn-1 px-4 py-2">Shop Now</a>
                                                </div>
                                            `;
                                        }
                                        return;
                                    }

                                    tbody.innerHTML = '';

                                    guestCart.forEach(item => {
                                        const price = item.offerPrice ?? item.price;
                                        const subtotal = price * item.quantity;

                                        const tr = document.createElement('tr');
                                        tr.setAttribute('data-cart-key', item.cartItemKey);

                                        tr.innerHTML = `
                                            <td class="cart-product-remove">
                                                <button class="remove-item"
                                                    data-cart-key="${item.cartItemKey}">×</button>
                                            </td>
                                            <td class="cart-product-image">
                                                <a href="/product/${item.productId}">
                                                    <img src="${item.image}" alt="${item.title}">
                                                </a>
                                            </td>
                                            <td class="cart-product-info">
                                                <h4><a href="/product/${item.productId}">${item.title}</a></h4>
                                                ${item.selectedColor ? `<p>Color: ${item.selectedColor.colorName}</p>` : ''}
                                                ${item.selectedMeasurement ? `<p>Size: ${item.selectedMeasurement.measurement}</p>` : ''}
                                            </td>
                                            <td class="cart-product-price">
                                                ${item.offerPrice
                                                    ? `<div class="product-price">
                                                        <del> <span class="old-price">₹${item.price.toFixed(2)}</span></del>
                                                        <span class="new-price">₹${item.offerPrice.toFixed(2)}</span>
                                                    </div>`
                                                    : `₹${item.price.toFixed(2)}`
                                                }
                                            </td>
                                            <td class="">
                                                <div class="cart-qty-group d-flex align-items-center justify-content-center" style="gap: 4px;">
                                                    <button 
                                                        type="button" 
                                                        class="qty-btn btn btn-outline-secondary btn-sm px-2 py-1 decrease-qty-btn"
                                                        aria-label="Decrease quantity"
                                                        data-cart-key="${item.cartItemKey}"
                                                        style="width: 28px; height: 28px; border-radius: 4px; font-size: 1rem; font-weight: 500; line-height: 1;"
                                                    >-</button>
                                                    <input 
                                                        type="number" 
                                                        value="${item.quantity}" 
                                                        min="1"
                                                        class="form-control text-center quantity-input"
                                                        data-cart-key="${item.cartItemKey}"
                                                        id="qty-${item.cartItemKey}"
                                                        style="width: 38px; height: 28px; border-radius: 4px; border: 1px solid #ced4da; font-size: 1rem; padding: 0 4px;"
                                                    >
                                                    <button 
                                                        type="button" 
                                                        class="qty-btn btn btn-outline-secondary btn-sm px-2 py-1 increase-qty-btn"
                                                        aria-label="Increase quantity"
                                                        data-cart-key="${item.cartItemKey}"
                                                        style="width: 28px; height: 28px; border-radius: 4px; font-size: 1rem; font-weight: 500; line-height: 1;"
                                                    >+</button>
                                                </div>
                                            </td>
                                            <td class="cart-product-subtotal">₹${subtotal.toFixed(2)}</td>
                                        `;
                                        tbody.appendChild(tr);
                                    });

                                    // Update totals table
                                    const totals = calculateGuestCartTotals(guestCart);

                                    if (totalsTbody) {
                                        totalsTbody.innerHTML = `
                                            <tr>
                                                <td>Cart Total</td>
                                                <td>₹${totals.subtotal.toFixed(2)}</td>
                                            </tr>
                                        `;
                                    }

                                    attachGuestCartEventListeners();
                                }

                                function attachGuestCartEventListeners() {
                                    const tbody = document.getElementById('cart-items-tbody');
                                    if (tbody) {
                                        // Quantity input change
                                        tbody.addEventListener('change', function (e) {
                                            if (e.target && e.target.classList.contains('quantity-input')) {
                                                const cartKey = e.target.dataset.cartKey;
                                                let quantity = parseInt(e.target.value);

                                                if (isNaN(quantity) || quantity < 1) {
                                                    quantity = 1;
                                                    e.target.value = 1;
                                                }

                                                const guestCart = JSON.parse(localStorage.getItem('guestCart')) || [];
                                                const updatedCart = guestCart.map(item =>
                                                    item.cartItemKey === cartKey ? { ...item, quantity } : item
                                                );

                                                updateGuestCart(updatedCart);

                                                // Update only the subtotal cell and totals, not full rerender
                                                const row = e.target.closest('tr');
                                                if (row) {
                                                    const item = updatedCart.find(i => i.cartItemKey === cartKey);
                                                    const price = item.offerPrice ?? item.price;
                                                    const subtotal = price * item.quantity;
                                                    const subtotalCell = row.querySelector('.cart-product-subtotal');
                                                    if (subtotalCell) {
                                                        subtotalCell.textContent = `₹${subtotal.toFixed(2)}`;
                                                    }
                                                }
                                                // Update totals
                                                const totalsTbody = document.getElementById('cart-totals-tbody');
                                                const totals = calculateGuestCartTotals(updatedCart);
                                                if (totalsTbody) {
                                                    totalsTbody.innerHTML = `
                                                        <tr>
                                                            <td>Cart Total</td>
                                                            <td>₹${totals.subtotal.toFixed(2)}</td>
                                                        </tr>
                                                    `;
                                                }
                                            }
                                        });

                                        // Handle plus/minus buttons and remove
                                        tbody.addEventListener('click', function (e) {
                                            // Decrease quantity
                                            if (e.target && e.target.classList.contains('decrease-qty-btn')) {
                                                const cartKey = e.target.dataset.cartKey;
                                                const input = document.getElementById('qty-' + cartKey);
                                                if (input) {
                                                    let min = parseInt(input.getAttribute('min')) || 1;
                                                    let val = parseInt(input.value) || min;
                                                    if (val > min) {
                                                        input.value = val - 1;
                                                        input.dispatchEvent(new Event('change', { bubbles: true }));
                                                    }
                                                }
                                            }
                                            // Increase quantity
                                            if (e.target && e.target.classList.contains('increase-qty-btn')) {
                                                const cartKey = e.target.dataset.cartKey;
                                                const input = document.getElementById('qty-' + cartKey);
                                                if (input) {
                                                    let val = parseInt(input.value) || 1;
                                                    input.value = val + 1;
                                                    input.dispatchEvent(new Event('change', { bubbles: true }));
                                                }
                                            }
                                            // Remove item
                                            if (e.target && e.target.classList.contains('remove-item')) {
                                                // No confirmation dialog
                                                const cartKey = e.target.dataset.cartKey;
                                                const guestCart = JSON.parse(localStorage.getItem('guestCart')) || [];
                                                const updatedCart = guestCart.filter(item => item.cartItemKey !== cartKey);

                                                updateGuestCart(updatedCart);
                                                // Remove row from DOM
                                                const row = e.target.closest('tr');
                                                if (row) row.remove();

                                                // Update totals
                                                const totalsTbody = document.getElementById('cart-totals-tbody');
                                                const totals = calculateGuestCartTotals(updatedCart);
                                                if (totalsTbody) {
                                                    totalsTbody.innerHTML = `
                                                        <tr>
                                                            <td>Cart Total</td>
                                                            <td>₹${totals.subtotal.toFixed(2)}</td>
                                                        </tr>
                                                    `;
                                                }

                                                // If cart is now empty, show empty state
                                                if (updatedCart.length === 0) {
                                                    const cartInner = document.querySelector('.shoping-cart-inner');
                                                    if (cartInner) {
                                                        cartInner.innerHTML = `
                                                            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px;">
                                                                <dotlottie-player src="https://lottie.host/e5fa68be-530c-45b1-bfd5-50c63563944a/TFNxioemwK.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
                                                                <h3 class="mt-3 mb-2 text-center">Your cart is empty</h3>
                                                                <p class="mb-3 text-center">Looks like you haven't added anything to your cart yet.</p>
                                                                <a href="/shop" class="btn btn-primary px-4 py-2">Shop Now</a>
                                                            </div>
                                                        `;
                                                    }
                                                }
                                            }
                                        });
                                    }
                                }

                                // Initial rendering when page loads
                                document.addEventListener('DOMContentLoaded', renderGuestCart);

                            <% } else { %>
                                // For logged-in users: use event delegation for quantity update
                                document.addEventListener('DOMContentLoaded', function () {
                                    const tbody = document.getElementById('cart-items-tbody');
                                    // If cart is empty, show empty state (handled by EJS above)
                                    if (!tbody) return;
                                    // Quantity input change
                                    tbody.addEventListener('change', async function (e) {
                                        if (e.target && e.target.classList.contains('quantity-input')) {
                                            const itemId = e.target.dataset.itemId;
                                            let quantity = parseInt(e.target.value);

                                            // Validate input
                                            if (isNaN(quantity) || quantity < 1) {
                                                quantity = 1;
                                                e.target.value = 1;
                                            }

                                            try {
                                                const response = await fetch(`/update-cart/${itemId}`, {
                                                    method: 'PUT',
                                                    headers: {
                                                        'Content-Type': 'application/json',
                                                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                                                    },
                                                    body: JSON.stringify({ quantity })
                                                });

                                                const data = await response.json();

                                                if (!response.ok) {
                                                    throw new Error(data.message || 'Failed to update quantity');
                                                }

                                                // Update the subtotal display without full page reload
                                                const row = e.target.closest('tr');
                                                if (row) {
                                                    const subtotalCell = row.querySelector('.cart-product-subtotal');
                                                    if (subtotalCell && data.updatedItem) {
                                                        subtotalCell.textContent = `₹${data.updatedItem.subtotal}`;
                                                    }
                                                }

                                                // Optionally, update totals or reload
                                                location.reload();

                                            } catch (error) {
                                                console.error('Error:', error);
                                                alert(error.message || 'Failed to update quantity');
                                                location.reload(); 
                                            }
                                        }
                                    });

                                    // Handle plus/minus buttons and remove
                                    tbody.addEventListener('click', async function (e) {
                                        // Decrease quantity
                                        if (e.target && e.target.classList.contains('decrease-qty-btn')) {
                                            const itemId = e.target.dataset.itemId;
                                            const input = document.getElementById('qty-' + itemId);
                                            if (input) {
                                                let min = parseInt(input.getAttribute('min')) || 1;
                                                let val = parseInt(input.value) || min;
                                                if (val > min) {
                                                    input.value = val - 1;
                                                    // Trigger change event to call API
                                                    input.dispatchEvent(new Event('change', { bubbles: true }));
                                                }
                                            }
                                        }
                                        // Increase quantity
                                        if (e.target && e.target.classList.contains('increase-qty-btn')) {
                                            const itemId = e.target.dataset.itemId;
                                            const input = document.getElementById('qty-' + itemId);
                                            if (input) {
                                                let val = parseInt(input.value) || 1;
                                                input.value = val + 1;
                                                // Trigger change event to call API
                                                input.dispatchEvent(new Event('change', { bubbles: true }));
                                            }
                                        }
                                        // Remove item
                                        if (e.target && e.target.classList.contains('remove-item')) {
                                            // No confirmation dialog
                                            const itemId = e.target.dataset.itemId;

                                            try {
                                                const response = await fetch(`/remove-from-cart/${itemId}`, {
                                                    method: 'DELETE'
                                                });

                                                if (response.ok) {
                                                    location.reload();
                                                } else {
                                                    const error = await response.json();
                                                    alert(error.message || 'Failed to remove item');
                                                }
                                            } catch (error) {
                                                console.error('Error:', error);
                                                alert('An error occurred while removing item');
                                            }
                                        }
                                    });
                                });
                            <% } %>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- SHOPING CART AREA END -->

        <!-- CALL TO ACTION START (call-to-action-6) -->
        <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                            <div class="coll-to-info text-color-white">
                                <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                            </div>
                            <div class="btn-wrapper">
                                <a class="btn btn-effect-3 btn-white" href="/shop">Explore Products <i
                                        class="icon-next"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CALL TO ACTION END -->

        <!-- FOOTER AREA START -->
        <footer class="ltn__footer-area  ">
            <div class="footer-top-area  section-bg-2 plr--5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-about-widget">
                                <div class="footer-logo">
                                    <div class="site-logo">
                                        <img style="width: 130px;" src="img/logo.png" alt="Logo">
                                    </div>
                                </div>
                                <p>Vitis provides customers with high-quality healthcare and general trading products,
                                    offering competitive prices and value-packed combo deals.</p>
    
    
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-menu-widget clearfix">
                                <h4 class="footer-title">Links</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/shop">Shop</a></li>
                                        <li><a href="/blogs">Blogs</a></li>
                                        <li><a href="/contact">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-menu-widget clearfix">
                                <h4 class="footer-title">Services</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="/user-login">Login</a></li>
                                        <li><a href="/user-register">Register</a></li>
                                        <li><a href="/about">Terms & Conditions</a></li>
                                        <li><a href="/about">Privacy & policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-menu-widget clearfix">
                                <h4 class="footer-title">Customer Care</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="/cart">My cart</a></li>
                                        <li><a href="/orders">My orders</a></li>
                                        <li><a href="/contact">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                            <div class="footer-widget footer-newsletter-widget">
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="footer-address-icon">
                                                <i class="icon-placeholder"></i>
                                            </div>
                                            <div class="footer-address-info">
                                                <p>Vitis Enterprises, Pathanapuram
                                                    Kollam (District), Kerala-689695</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="mt-30">We Accept</h5>
                                <img src="img/icons/payment-4.png" alt="Payment Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
                <div class="container-fluid ltn__border-top-2">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="ltn__copyright-design clearfix">
                                <p>
                                    All Rights Reserved @ Vitis Enterprises <span class="current-year"></span> | Developed
                                    by <a href="https://trivlogic.com/" target="_blank" rel="noopener">Trivlogic Pvt Ltd</a>
                                </p>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER AREA END -->

    </div>
    <!-- Body main wrapper end -->

    <!-- All JS Plugins -->
     <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

</body>

</html>