<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpOceans">
    <link rel="shortcut icon" type="image/png" href="/images/max-logo.png">
    <title>Maxtron Associate | Services</title>
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/slick-theme.css" rel="stylesheet">
    <link href="/css/swiper.min.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/odometer-theme-default.css" rel="stylesheet">
    <link href="/sass/style.css" rel="stylesheet">
</head>

<body>

    <!--=====start page-wrapper =====-->
    <div class="page-wrapper">
        <!--===== start preloader =====-->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img class="pre-logo" src="/images/max-logo.png" alt="">
                </div>
            </div>
        </div>
        <!--===== end preloader =====-->

        <!--  cursor style -->
        <div class="cursor"></div>
        <div class="cursor2"></div>

        <!--===== Start header =====-->

        <header id="header">
            <div class="topbar" style="background-color: #000000;">
                <div class="container-fluid">
                    <div class="row align-items-center flex-wrap">
                        <div class="col-6 d-flex justify-content-start">
                            <div class="contact-into">
                                <ul class="social-media d-flex">
                                    <li><a href="https://wa.me/+919745147000" target="_blank"><img
                                                src="/images/icons/facebook.png" alt="Facebook" width="18"
                                                height="18"></a></li>
                                    <li><a href="https://wa.me/+919745147000" target="_blank"><img
                                                src="/images/icons/whatsapp.png" alt="LinkedIn" width="18"
                                                height="18"></a></li>
                                    <li><a href="https://wa.me/+919745147000" target="_blank"><img
                                                src="/images/icons/instagram.png" alt="Instagram" width="18"
                                                height="18"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <ul class="contact-info d-flex" style="font-size: 12px; white-space: nowrap;">
                                <li>
                                    <% if (user) { %>
                                        <a href="/orders">
                                            My Orders
                                        </a>
                                        <% } else { %>
                                            <a href="/user-login">
                                                Login
                                                <span>Now</span>
                                            </a>
                                            <% } %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpo-site-header wpo-header-style-s9 menu-left">
                <nav class="navigation navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                                <div class="mobail-menu">
                                    <button type="button" class="navbar-toggler open-btn">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar first-angle"></span>
                                        <span class="icon-bar middle-angle"></span>
                                        <span class="icon-bar last-angle"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-1 col-1">
                                <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                    <button class="menu-close"><i class="ti-close"></i></button>
                                    <ul class="nav navbar-nav mb-2 mb-lg-0">
                                        <li class=" image-style-item">
                                            <a href="/">Home</a>

                                        </li>
                                        <li class="">
                                            <a href="/shop">Shop</a>

                                        </li>
                                        <li class="dropdown-services">
                                            <a style="color: #a1817b;" href="/services" class="dropdown-toggle"
                                                data-toggle="dropdown">Services <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/polyBagProduction">Poly Bag Production & Supply</a></li>
                                                <li><a href="/consumablesSupplies">Consumables supplies</a></li>
                                                <li><a href="/transportation">Bio Medial Waste Transportation
                                                        Services</a></li>
                                                <li><a href="/bioWasteHandling">Bio Medical waste handling services</a>
                                                </li>

                                                <li><a href="/biomining">Biomining services</a></li>
                                                <!-- <li><a href="/wasteManagement">Waste Management Facility Maintenance</a></li> -->
                                                <!-- <li><a href="/medicalWasteCollection">Medical Waste Collection</a></li> -->
                                                <!-- <li><a href="/recyclableWaste">Recyclable Waste Solutions</a></li> -->
                                            </ul>
                                        </li>
                                        <li class="">
                                            <a href="/about">About Us</a>

                                        </li>
                                        <li class="">
                                            <a href="/blogs">Blogs</a>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/"><img src="/images/max-logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-2">
                                <div class="header-right">

                                    <div class="header-user-wrapper">
                                        <div class="cart-user-contact">
                                            <button class="user-toggle-btn">
                                                <% if (user) { %>
                                                    <img style="width: 20px;" src="/images/logged.svg" alt="">
                                                    <% } else { %>
                                                        <img src="/images/user.svg" alt="">
                                                        <% } %>
                                            </button>
                                            <div class="header-user-form">
                                                <ul>
                                                    <% if (user) { %>
                                                        <li><a href="#" id="logout-btn">Logout</a></li>
                                                        <li><a href="/contact">Orders</a></li>
                                                        <li><a href="/contact">Contact Us</a></li>
                                                        <% } else { %>
                                                            <li><a href="/user-login">Login</a></li>
                                                            <li><a href="/user-register">Register</a></li>
                                                            <li><a href="/contact">Contact Us</a></li>
                                                            <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <li class="shopping-cart-wrapper">
                                        <a href="/cart">
                                            <button class="shopping-cart-btn" aria-label="View shopping cart">
                                                <img src="/images/shopping-cart.svg" alt="Shopping Cart"
                                                    class="cart-icon">
                                            </button>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav>
            </div>
        </header>
        <!--===== end of header =====-->
        <section class="order-hist-main">
            <div class="page-header">
                <h1 class="order-page-title">My Orders</h1>
                <div class="filter-wrapper">
                    <button class="filter-button selected" id="current-orders-btn">Current Orders</button>
                    <button class="filter-button" id="order-history-btn">Order History</button>
                </div>
            </div>

            <div class="">
                <div class="content-block" id="current-orders-section">
                    <div class="block-heading">
                        <h2 class="block-name">🚚 Current Orders</h2>
                        <span class="count-pill count-pill-dark">
                            <%= currentOrders.length %> orders
                        </span>
                    </div>
                    <% if (currentOrders.length===0) { %>
                        <!-- Empty State -->
                        <div class="empty-orders-state">
                            <div class="empty-orders-image"></div>
                            <h3 class="empty-orders-title">No Orders Yet</h3>
                            <p class="empty-orders-text">
                                You haven't placed any orders yet. Start shopping to see your orders here!
                            </p>
                            <a href="/shop" class="shop-now-button">Start Shopping</a>
                        </div>
                        <% } else { %>
                            <div>
                                <% currentOrders.forEach(order=> { %>
                                    <div class="order-item">
                                        <div class="order-top">
                                            <span class="order-number">#<%= order._id.toString().slice(-5) %></span>
                                            <span class="order-phase">
                                                <%= order.status %>
                                            </span>
                                        </div>
                                        <div class="order-info">
                                            <div class="order-info-grid">
                                                <div class="order-info-item">
                                                    <div class="order-date">
                                                        Order Date: <%= new Date(order.createdAt).toLocaleDateString() %>
                                                    </div>
                                                </div>
                                                <div class="order-info-item">
                                                    <div class="order-amount">Total: <span>₹<%= order.totalAmount %></span></div>
                                                </div>
                                                <div class="order-info-item">
                                                    <div class="order-payment-method">Payment Method: <span>
                                                        <%= order.paymentMethod==='COD' ? 'Cash on Delivery' : 'Paid Online' %>
                                                    </span></div>
                                                </div>
                                                <div class="order-info-item full-width">
                                                    <div class="order-address">Delivery Address: <span>
                                                        <%= order.deliveryAddress.address %>, <%= order.deliveryAddress.city %>, 
                                                        <%= order.deliveryAddress.state %>, <%= order.deliveryAddress.zipCode %>, 
                                                        <%= order.deliveryAddress.country %>
                                                    </span></div>
                                                </div>
                                                <div class="order-info-item full-width">
                                                    <div class="estimated-delivery">
                                                        Estimated Delivery: <span>
                                                            <% if (order.delivery_date) { %>
                                                                <%= new Date(order.delivery_date).toLocaleDateString('en-US', {
                                                                    year: 'numeric', month: 'long', day: 'numeric' 
                                                                }) %>
                                                            <% } else { %>
                                                                Not set
                                                            <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="delivery-tracker">
                                            <div class="tracker-stages">
                                                <div class="tracker-dot <%= order.status === 'Pending' || order.status === 'Processing' || order.status === 'Shipped' || order.status === 'Delivered' ? 'tracker-dot-complete' : '' %>"></div>
                                                <div class="tracker-dot <%= order.status === 'Processing' || order.status === 'Shipped' || order.status === 'Delivered' ? 'tracker-dot-complete' : '' %>"></div>
                                                <div class="tracker-dot <%= order.status === 'Shipped' || order.status === 'Delivered' ? 'tracker-dot-complete' : '' %>"></div>
                                                <div class="tracker-dot <%= order.status === 'Delivered' ? 'tracker-dot-complete' : '' %>"></div>
                                            </div>
                                            <div class="tracker-labels">
                                                <span class="tracker-label <%= order.status === 'Pending' ? 'tracker-label-active' : '' %>">Pending</span>
                                                <span class="tracker-label <%= order.status === 'Processing' ? 'tracker-label-active' : '' %>">Processing</span>
                                                <span class="tracker-label <%= order.status === 'Shipped' ? 'tracker-label-active' : '' %>">Shipped</span>
                                                <span class="tracker-label <%= order.status === 'Delivered' ? 'tracker-label-active' : '' %>">Delivered</span>
                                            </div>
                                        </div>
                                        <div class="order-products">
                                            <% order.items.forEach(item=> { %>
                                                <div class="product-details">
                                                    <div class="product-icon">
                                                        <img src="<%= item.product.images[0] %>" alt="<%= item.product.title %>">
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-title">
                                                            <%= item.product.title %>
                                                        </div>
                                                        <div class="product-delivery-date">
                                                            Delivery: <% if (order.delivery_date) { %>
                                                                <%= new Date(order.delivery_date).toLocaleDateString('en-US', {
                                                                    year: 'numeric', month: 'long', day: 'numeric' 
                                                                }) %>
                                                            <% } else { %>
                                                                Not set
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                            <% if (order.items.length > 2) { %>
                                                <div class="product-icon more-products">+<%= order.items.length - 2 %></div>
                                            <% } %>
                                        </div>
                                        <div class="order-controls">
                                            <button class="action-button button-secondary">Track Order</button>
                                            <a href="/product-details/<%= order.items[0].product._id %>">
                                                <button class="action-button button-primary">View Details</button>
                                            </a>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>

                            <div class="stats-panel">
                                <div class="stats-heading">Order Summary</div>
                                <div class="stats-row">
                                    <span>Total Current Orders:</span>
                                    <span><%= currentOrders.length %></span>
                                </div>
                                <div class="stats-row">
                                    <span>Estimated Delivery:</span>
                                    <span id="delivery-date">
                                        <% if (currentOrders[0]?.delivery_date) { %>
                                            <%= new Date(currentOrders[0].delivery_date).toLocaleDateString('en-US', {
                                                year: 'numeric', month: 'long', day: 'numeric' 
                                            }) %>
                                        <% } else { %>
                                            Not set
                                        <% } %>
                                    </span>
                                </div>
                                <div class="stats-row">
                                    <span>Total Amount:</span>
                                    <span>₹<%= currentOrders.reduce((total, order)=> total + order.totalAmount, 0) %></span>
                                </div>
                            </div>
                            <% } %>
                </div>

                <div class="content-block" id="order-history-section" style="display: none;">
                    <div class="block-heading">
                        <h2 class="block-name">📦 Order History</h2>
                        <span class="count-pill count-pill-medium">
                            <%= completedOrders.length %> orders
                        </span>
                    </div>
                    <% if (completedOrders.length===0) { %>
                        <div class="empty-history-state">
                            <div class="empty-history-image"></div>
                            <h3 class="empty-history-title">No Order History</h3>
                            <p class="empty-history-text">
                                You haven't completed any orders yet. Start shopping to build your order history!
                            </p>
                            <a href="/shop" class="history-shop-button">Browse Products</a>
                        </div>
                        <% } else { %>
                            <div class="">
                                <% completedOrders.forEach(order=> { %>
                                    <div class="order-item">
                                        <div class="order-top">
                                            <span class="order-number">#<%= order._id.toString().slice(-5) %></span>
                                            <span class="order-phase phase-complete">Delivered</span>
                                        </div>
                                        <div class="order-info">
                                            <div class="order-date">
                                                Order Date: <%= new Date(order.createdAt).toLocaleDateString() %>
                                            </div>
                                            <div class="order-delivery-date">
                                                Delivered On: <%= new Date(order.delivery_date).toLocaleDateString('en-US', {
                                                    year: 'numeric', month: 'long', day: 'numeric'
                                                }) %>
                                            </div>
                                            <div class="order-amount">Total: <span>₹<%= order.totalAmount %></span>
                                            </div>
                                            <div class="order-payment-method">Payment Method: <span>
                                                    <%= order.paymentMethod==='COD' ? 'Cash on Delivery' : 'Paid Online'
                                                        %>
                                                </span></div>
                                            <div class="order-address">Delivery Address: <span>
                                                    <%= order.deliveryAddress.address %>, <%= order.deliveryAddress.city
                                                            %>, <%= order.deliveryAddress.state %>, <%=
                                                                    order.deliveryAddress.zipCode %>, <%=
                                                                        order.deliveryAddress.country %>
                                                </span></div>
                                        </div>
                                        <div class="order-products">
                                            <% order.items.forEach(item=> { %>
                                                <div class="product-details">
                                                    <div class="product-icon"><img src="<%= item.product.images[0] %>"
                                                            alt="<%= item.product.title %>"></div>
                                                    <div class="product-info">
                                                        <div class="product-title">
                                                            <%= item.product.title %>
                                                        </div>
                                                                                                    
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </div>
                                        <div class="order-controls">
                                            <a href="/shop"><button class="action-button button-secondary">Buy
                                                    Again</button></a>
                                            <a href="/product-details/<%= order._id %>"> <button
                                                    class="action-button button-secondary">View Details</button></a>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <% } %>
                </div>
            </div>
        </section>
        <script>
            document.getElementById('current-orders-btn').addEventListener('click', function () {
                document.getElementById('current-orders-section').style.display = 'block';
                document.getElementById('order-history-section').style.display = 'none';
                this.classList.add('selected');
                document.getElementById('order-history-btn').classList.remove('selected');
            });

            document.getElementById('order-history-btn').addEventListener('click', function () {
                document.getElementById('current-orders-section').style.display = 'none';
                document.getElementById('order-history-section').style.display = 'block';
                this.classList.add('selected');
                document.getElementById('current-orders-btn').classList.remove('selected');
            });
        </script>


        <!--===== start wpo-site-footer-section =====-->
        <footer class="wpo-site-footer">
            <div class="wpo-upper-footer">
                <div class="container-fluid ft-main">
                    <div class="row">
                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12 fade_bottom">
                            <div class="widget about-widget">
                                <div class="logo widget-title">
                                    <img src="/images/max-logo.png" alt="blog">
                                </div>
                                <p class="footer-dis">We specialize in durable waste bags with advanced extrusion
                                    technology for reliable, eco-friendly solutions</p>
                                <div class="social-widget">
                                    <ul class="social-media d-flex">
                                        <li><a href="https://wa.me/+919745147000" target="_blank"><img
                                                    src="/images/icons/facebook.png" alt="Facebook" width="18"
                                                    height="18"></a></li>
                                        <li><a href="https://wa.me/+919745147000" target="_blank"><img
                                                    src="/images/icons/whatsapp.png" alt="LinkedIn" width="18"
                                                    height="18"></a></li>
                                        <li><a href="https://wa.me/+919745147000" target="_blank"><img
                                                    src="/images/icons/instagram.png" alt="Instagram" width="18"
                                                    height="18"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-5 col-md-6 col-sm-12 col-12 fade_bottom">
                            <div class="widget link-widget">
                                <div class="widget-title">
                                    <h3>Contact</h3>
                                </div>
                                <ul>
                                    <li class="ft-icons"><span><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M4 4h16v16H4z"></path>
                                                <polyline points="4,8 12,14 20,8"></polyline>
                                            </svg></span>maxtronassociateskerala@gmail.com</li>
                                    <li class="ft-icons"><span><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path
                                                    d="M22 16.92v3a2 2 0 0 1-2.18 2 19.78 19.78 0 0 1-8.63-3.11 19.78 19.78 0 0 1-7.08-7.08A19.78 19.78 0 0 1 2 4.18 2 2 0 0 1 4 2h3a2 2 0 0 1 2 1.72 13.5 13.5 0 0 0 1.15 4.92 2 2 0 0 1-.45 2.11L8.5 12.5a16 16 0 0 0 7 7l2.79-2.79a2 2 0 0 1 2.11-.45 13.5 13.5 0 0 0 4.92 1.15A2 2 0 0 1 22 16.92z">
                                                </path>
                                            </svg>
                                        </span>+91 9745147000</li>
                                    <li class="ft-icons"><span><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M12 2a7 7 0 0 1 7 7c0 5-7 13-7 13s-7-8-7-13a7 7 0 0 1 7-7z">
                                                </path>
                                                <circle cx="12" cy="9" r="2.5"></circle>
                                            </svg></span>Maxtron Associates </li>
                                    <li class="ft-icons"> Chandranagar, Palakkad ,Kerala,</li>
                                    <li>678007</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-6 col-sm-12 col-12 fade_bottom">
                            <div class="widget link-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <ul>
                                    <li><a href="/about"><span class="rolling-text">About Us</span> </a></li>
                                    <li><a href="/shop"><span class="rolling-text">Shop</span></a></li>
                                    <li><a href="/services"><span class="rolling-text">Services</span> </a></li>

                                    <li><a href="/blogs"><span class="rolling-text">Blog</span> </a></li>
                                    <li><a href="/contact"><span class="rolling-text">Contact</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="wpo-lower-footer">
                <div class="container-fluid ">
                    <div class="row g-0 ">
                        <div class="col col-lg-6 col-12 ">
                            <p class="copyrigh "> Copyright &copy; 2025 Trivlogic Pvt Limited. All
                                Rights Reserved.</p>
                        </div>
                        <div class="col col-lg-6 col-12 ">
                            <ul class="right ft-btm ">
                                <li><a href="#"><span class="rolling-text">Privace & Policy</span> </a></li>
                                <li><a href="#"><span class="rolling-text">Terms</span></a></li>
                                <li><a href="/about"><span class="rolling-text">About us</span></a></li>
                                <% if (user) { %>
                                    <li><a href="#"><span class="rolling-text">Logout</span></a></li>
                                    <% } else { %>
                                        <li><a href="/user-login"><span class="rolling-text"
                                                    id="logout-btn">Login</span></a></li>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="floating-buttons">
            <a target='_blank' href="mailto:maxtronassociateskerala@gmail.com" class="email-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="4" width="18" height="16" rx="2" ry="2" />
                    <path d="M3 6l9 6 9-6" />
                </svg>
            </a>
            <a target='_blank' href="https://wa.me/9745147000" class="whatsapp-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path
                        d="M12 2C6.5 2 2 6.5 2 12c0 1.8 0.5 3.5 1.3 5L2 22l5.1-1.3c1.5 0.8 3.1 1.2 4.9 1.2 5.5 0 10-4.5 10-10S17.5 2 12 2z"
                        fill="none" stroke="currentColor" />
                    <path
                        d="M17 15.5c-0.2 0.7-1.2 1.2-1.7 1.3-0.4 0.1-1 0.1-1.6-0.1-0.4-0.1-0.8-0.3-1.4-0.5-2.6-1.1-4.2-3.6-4.4-3.8-0.1-0.2-1-1.4-1-2.6 0-1.3 0.7-1.9 0.9-2.1 0.2-0.2 0.5-0.3 0.7-0.3 0.2 0 0.3 0 0.5 0 0.2 0 0.4-0.1 0.6 0.4 0.2 0.5 0.7 1.7 0.8 1.8 0.1 0.1 0.1 0.3 0 0.4-0.1 0.2-0.1 0.2-0.2 0.4-0.1 0.1-0.3 0.3-0.4 0.4-0.1 0.1-0.2 0.3-0.1 0.5 0.1 0.2 0.5 0.8 1.1 1.3 0.7 0.7 1.4 0.9 1.6 1 0.2 0.1 0.4 0.1 0.5-0.1 0.2-0.1 0.7-0.8 0.8-1 0.2-0.3 0.3-0.2 0.6-0.1 0.2 0.1 1.5 0.7 1.8 0.8 0.3 0.1 0.4 0.2 0.5 0.3 0.1 0.1 0.1 0.7-0.2 1.3z"
                        fill="currentColor" stroke="none" />
                </svg>

            </a>
            <a target='_blank' href="tel:+919745147000" class="phone-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path
                        d="M22 16.92V19a2 2 0 0 1-2 2 17.9 17.9 0 0 1-8-2 17.9 17.9 0 0 1-8-8 17.9 17.9 0 0 1-2-8A2 2 0 0 1 5 1h2.08a2 2 0 0 1 2 .72l2.83 3.42a2 2 0 0 1-.25 2.77L9.91 10.08a16 16 0 0 0 4 4l2.17-1.75a2 2 0 0 1 2.77-.25l3.42 2.83a2 2 0 0 1 .72 2z" />
                </svg>
            </a>
        </div>

        <!-- Enquiry Button -->
        <a href="/contact"> <button class="enquiry-btn">Enquiry</button></a>
    </div>

    <!-- Mobile Bottom Navbar -->
    <nav class="mb_navbar_container">
        <a href="/" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </div>
            <span class="mb_navbar_label">Home</span>
        </a>

        <a href="/shop" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <rect x="2" y="3" width="20" height="18" rx="2" ry="2"></rect>
                    <line x1="2" y1="8" x2="22" y2="8"></line>
                    <line x1="12" y1="8" x2="12" y2="21"></line>
                    <line x1="7" y1="14.5" x2="7" y2="14.51"></line>
                    <line x1="17" y1="14.5" x2="17" y2="14.51"></line>
                </svg>
            </div>
            <span class="mb_navbar_label">Shop</span>
        </a>
        <a href="/services" class="mb_navbar_item  mb_navbar_active">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2" />
                    <path d="M9 14h6" />
                    <path d="M6 10h12" />
                    <path d="M3 6h18" />
                </svg>
            </div>
            <span class="mb_navbar_label">Services</span>
        </a>

        <a href="/cart" class="mb_navbar_item">
            <div class="mb_navbar_icon_wrapper">
                <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>

            </div>
            <span class="mb_navbar_label">Cart</span>
        </a>

        <% if (user) { %>
            <a href="/user-logout" class="mb_navbar_item">
                <div class="mb_navbar_icon_wrapper">
                    <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <span class="mb_navbar_label">Logout</span>
            </a>
            <% } else { %>
                <a href="/user-login" class="mb_navbar_item">
                    <div class="mb_navbar_icon_wrapper">
                        <svg class="mb_navbar_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <span class="mb_navbar_label">Login</span>
                </a>
                <% } %>

    </nav>

    <!--===== end page-wrapper =====-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const logoutBtn = document.querySelector("a#logout-btn");

            if (logoutBtn) {
                logoutBtn.addEventListener("click", function (event) {
                    event.preventDefault(); // Prevent default link action

                    fetch("/api/auth/user-logout", {
                        method: "POST", // Change to POST if needed
                        credentials: "include" // Ensure cookies are sent
                    })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = "/"; // Redirect after logout
                            } else {
                                console.error("Logout failed");
                            }
                        })
                        .catch(error => console.error("Error:", error));
                });
            }
        });

    </script>
    <!--===== All JavaScript files =====-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!--===== Plugins for this template =====-->
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery-plugin-collection.js"></script>
    <script src="/js/gsap.js"></script>
    <script src="/js/gsap-scroll-smoother.js"></script>
    <script src="/js/SmoothScroll.js"></script>
    <script src="/js/gsap-scroll-trigger.js"></script>
    <script src="/js/gsap-split-text.js"></script>
    <script src="/js/simpleParallax.js"></script>
    <!--===== Custom script for this template =====-->
    <script src="/js/script.js"></script>
    <script src="/js/gsap-script.js"></script>
</body>

</html>